repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c "cd oxen-rust && cargo fmt --all -- --check"
        language: system
        types: [rust]
        pass_filenames: false
        always_run: true

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c "cd oxen-rust && cargo clippy --workspace --no-deps -- -D warnings"
        language: system
        types: [rust]
        pass_filenames: false
        always_run: true
